*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    font-family:inter;
}
/* nav section start  */
header{
    width:100%;
    height:80vh;
    background-color:#F3FCF7;
}
nav{
    display:flex;
    justify-content:space-between;
    padding:1rem;
    align-items:center;
}
nav ul li{
    display:inline-block;
    margin-right:1rem;
}
.logo h1{
    color:#06C167;
    font-weight:500;
    font-size:2rem;
}
.home{
    color:#06C167;
    position:relative;
}
.home::after{
    position:absolute;
    content:'';
    width:.3rem;
    height:.4rem;
    top:1.2rem;
    left:1.1rem;
    right:0;
    border-radius:3rem;
    background-color:#06C167;
    
}
nav ul li a{
    color:#1D1D1F;
    font-weight:400;
    font-size:.9rem;
    transition:all 0.4s ease;
}
nav ul li a:hover{
    color:#06C167;
}
/* nav section end */
/* header banner start  */
.header-banner-container{
    max-width:850px;
    display:flex;
    margin:5rem auto;
    gap:10rem;
    justify-content:space-between;
}
.header-banner-text{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.header-banner-text h1{
    font-size:3rem;
    font-weight:600;
}
.header-banner-text p{
    font-size:0.7rem;
    line-height:1.2rem;
}
.header-banner-text button{
    width:max-content;
    padding:.8rem 1.5rem;
    border:none;
    background-color: #06C167;
    color:white;
    font-weight:500;
    display:flex;
    align-items:center;
    gap:1rem;
    transition:all 0.4s ease;
}
.header-banner-text button:hover{
    background-color:white;
    color:#06C167;
    border:1px solid #06C167;
}
.header-banner-text .icons{
    position:relative;
    display:flex;
    gap:1.5rem;
    top:18%;
}
.icons img{
    width:7rem;
}
.header-banner-image>img{
    width:20rem;
}
.header-banner-image h1{
    font-size:.8rem;
    background-color:white;
    position:relative;
    bottom:40%;
    right:30%;
    width:max-content;
    padding:.3rem 1rem;
    border-radius:3rem;
}
.good-product-quality{
    display:flex;
    align-items:center;
    gap:.4rem;
    background-color: white;
    position:relative;
    bottom:55%;
    left:65%;
    width:max-content;
    padding:.3rem .8rem;
    border-radius:3rem;
}
.good-product-quality img{
    width:1.5rem;
}
.good-product-quality h4{
    font-size:0.7rem;
    font-weight:500;
}
.icons-1{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:1rem;
}
.icons-1 img{
    width:7rem;
    display:none;
}
/* header banner end */
/* section 1 start  */
.section-1-container{
    max-width:850px;
    display:flex;
    margin:10rem auto;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(128, 128, 128, 0.293);
    border-bottom:1px solid rgba(128, 128, 128, 0.294);
    padding:2rem 0rem;
}
.section-1-text-group-1,.section-1-text-group-2,.section-1-text-group-3,.section-1-text-group-4{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:1rem;
    line-height:1.5rem;
}

.section-1-text-group-1 h6,.section-1-text-group-2 h6,.section-1-text-group-3 h6,.section-1-text-group-4 h6{
    font-weight:500;
}

/* section 1 end */
/* responsive design mobile approaches start  */
@media screen and (max-width: 576px){
    
nav{
    flex-direction:column;
    text-align:center;
    gap:2rem;
    margin:0rem auto;
}
nav ul li a{
    line-height:2rem;
}
.header-banner-container{
    flex-direction:column;
    width:90%;
    text-align:center;
    gap:1rem;
    margin:5rem auto;
}
.header-banner-text button{
    margin:0rem auto;
}
.icons img{
    display:none;
}
.header-banner-image>img{
    width:100%;
}
.header-banner-image h1{
    position:static;
    top:60%;
    width:auto;
    font-size:0.6rem;
}
.good-product-quality{
    position:static;
    width:auto;
    text-align:center;
    display:flex;
    justify-content:center;
    margin:1rem auto;
}
.icons-1{
    width:90%;
    margin:0rem auto;
}
.icons-1 img{
    display:inline-block;
    width:80%;
    margin:0rem auto;
}
.section-1-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    margin-top:40rem;
    position:static;
    width:100%;
    gap:2rem;
}
.section-1-text-group-1,.section-1-text-group-2,.section-1-text-group-3,.section-1-text-group-4{
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.section-1-img img{
    width:2.5rem;
}
}
/* responsive design mobile approaches end */